@model IEnumerable<DiveSiteResponse>
@{
    ViewData["Title"] = "Dive Sites V1";
}

<h1>Dive Sites List - Api version: 1.0</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Site Name</th>
            <th>Description</th>
            <th>Details</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var site in Model)
        {
            <tr>
                <td>@site.DiveSiteId</td>
                <td>@(site.DiveSiteName ?? "N/a")</td>
                <td>@(site.DiveSiteDescription  ?? "N/a")</td>
                <td>@(site.OtherDetails  ?? "N/a")</td>
                <td>
                    <a class="btn btn-primary" asp-action="DetailsV1" asp-controller="DiveSites" asp-route-id="@site.DiveSiteId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
